<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086225396148-g4q84ppfk6thl5n2pc43siov8akn00du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086225396148-g4q84ppfk6thl5n2pc43siov8akn00du</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1086225396148-4t3uhugk5k3llbu4laqlkt4rkvfefu0l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxNXYE7hob7JF-2TDO6rteQ33Qqa124Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>1086225396148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.varunguptapy.homeKtichenDelivery</string>
	<key>PROJECT_ID</key>
	<string>homekitchen-ce34d</string>
	<key>STORAGE_BUCKET</key>
	<string>homekitchen-ce34d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086225396148:ios:602b064344d2415fe102e1</string>
</dict>
</plist>